body{
  padding-top: 170px;
  padding-bottom: 0;
  min-height: 100%;
}

#title-section {
  background-color: #777B80;
  height: 400px;
  padding-top: 45px;
}

.col-sm h1 {
  color: #429764;
  font-weight: 400px;
}

img {
  height:100%;
  object-fit: fill;
}

p {
  font-size: 30px;
  text-align: left;
}

.figure {
  padding-top: 0;
}


.image-fluid {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #8AF09F;
  z-index: -10;
}

.test:hover .overlay {
  opacity: 0.2;

}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
