body {
   font-family:verdana;

}
.title {
  text-align: center;
  background-color: #A6EBDB;
  margin: 0;
  padding-top:30px;
  padding-bottom:25px;
  border: 5px;
}

h2 {
  font-weight:bold;
  font-style:italic;
}

ul.a {
  list-style-type:square;
  list-style-position:center;
}

h1 {
  text-align:center;
}

h3 {
  text-align:center;
  font-style:italic;
}

h2 {
  text-align:center;
  font-style:oblique;
}

p.a {
  font-style:italic;
  font-weight:bold;
}
  /* Carousel design */
.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.4);
}

.carousel-item {
  max-height: 350px;
}

.carousel-caption {
    color: white;
    right: 30%;
    text-align: center;
    max-width: 500px;
    left: auto;
    top: 40%;
}

  /* Hover design */
.hovering {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid #A6EBDB;
  text-align: center;
}

.hovering .hoveringtext {
  visibility: hidden;
  width: 120px;
  background-color: #A6EBDB;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.hovering .hoveringtext {
  top: -5px;
  left: 105%;
}

.hovering:hover .hoveringtext {
  visibility: visible;
}
