
body {
  background-image:url("../images/home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


h1{
  /*transform: rotate(270deg);
  transform-origin: bottom left;*/
  margin-left: 4rem;
  color: black;
  position:absolute;
  top:48%;
  left:10%;
  font-size: 65px;
  font-weight: 400;
}

#pieChart {
  position: absolute;
  top:2.5%;
  z-index: -1;
}

footer {
  padding-top: 5px;
  max-height: 50px;
}
