body{
  padding-top: 70px;

}
.title {
  text-align: center;
  background-color: #A6EBDB;
  margin: 0;
  padding-top:30px;
  padding-bottom:25px;
  font-weight:bold;
  border: 5px;
}

.intro p {
  padding-top: 15px;
  text-align: justify;
}

h2 {
  font-weight:bold;
  font-style:italic;
}

ul.a {
  list-style-type:square;
  list-style-position:center;
}

h1 {
  text-align:center;
}

h3 {
  text-align:center;
}


p.a {
  font-style:italic;
  font-weight:bold;
}
  /* Carousel design */
.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.4);
}

.carousel-item {
  max-height: 350px;
}

.carousel-caption {
    color: white;
    right: 30%;
    text-align: center;
    max-width: 500px;
    left: auto;
    top: 40%;
}

  /* Hover design */
.hovering {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid #A5A8E8;
  text-align: center;
  padding: 5px;
}

.hovering .hoveringtext {
  visibility: hidden;
  width: 200px;
  background-color: #A5A8E8;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  font-size: 12px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.hovering .hoveringtext {
  top: -5px;
  left: 105%;
}

.hovering:hover .hoveringtext {
  visibility: visible;
}


/*----footer-----*/
.footer {
  position:fixed;
  left:0;
  right:0;
  width:100%;
  background-color:#8b8f96;
  color:white;
  text-align:center;
}
