body {
   font-family:verdana;

}
.title {
  text-align: center;
  background-color: #A6EBDB;
  margin: 0;
  padding-top:30px;
  padding-bottom:25px;

  border: 5px;
}

ul.a {
  list-style-type:square;
  list-style-position:center;
}

h1 {
  text-align:center;
}

h3 {
  text-align:center;
  font-style:italic;
}

h2 {
  text-align:center;
  font-style:oblique;
}

p.a {
  font-style:italic;
  font-weight:bold;
}



.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  text-align: center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #DEB5FF;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip .tooltiptext {
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
