
body {
  text-align: center;
  padding-top: 60px;
}
  h1 {
    background-color: #A5A8E8;
    text-align:center;
  }
h2 {
  background-color: #A5A8E8;
  text-align: center;
}
.title{
  background-color: #A5A8E8;
  padding-top:25px;
  padding-bottom:25px;
}
