.container {
    width: 100%;
}

body {
  text-align: center;
  padding-top: 60px;
}

.carousel-item{

  max-height: 500px;
  margin-top: 25px;
}

.title {
    background-color: #DEB5FF;
    text-align:center;
    margin-top:20px;
    padding:12px;
  }
  .title h1{
    font-weight: bold;
  }
.info-brands{
  margin-top: 20px;
  text-align: center;
}

  .info-brands h4{
    font-weight: bold;
  }

.brands {
  background-color: #B5FFBF;
  text-align:center;
  margin-top:20px;
  margin-bottom: 20px;
  padding:12px;
}
.brands h5 {
  font-weight: bold;
}
.row{
  margin-top: 20px;
  margin-bottom: 20px;
}

#idea-blurb {
  padding-bottom: 0;
}

footer {
  padding-top:0;
  width: 100%;
}

footer .container {
  padding top: 0;
}
