.container {
    width: 100%;
}

body {
  text-align: center;
  padding-top: 60px;
}

.carousel-item{

  max-height: 500px;
  margin-top: 25px;
}

.title {
    background-color: #A5A8E8;
    text-align:center;
  }

.main-heading{
  background-color: #A5A8E8;
  padding-top:25px;
  padding-bottom:25px;
  border:5px;
  margin-left: 40px;
 margin-right: 40px;
 margin-top: 50px;
 margin-bottom: 40px;
 text-align:center;
}
.info-brands{

}

fo
#idea-blurb {
  padding-bottom: 0;
}

footer {
  padding-top:0;
  width: 100%;
}

footer .container {
  padding top: 0;
}
