body {
  margin: 0px;
}
h1 {
  text-align: center;
  font-size: 5em;
}
h2 { text-align: center;
  font-size: 3em;
}

.transport-title {
  border: 2px solid blue;
}

.commute-img {
  width: 400px;
}

a {
  font-style: italic;
  font-weight: bold;
}
div {
  min-height: 100vh;
  width: 100vw;
}
img {
  display: flow;
}
/* ol {
  text-align: center;
  width: 20%;
  margin: 0 2vw 2vh 2vw;
  font-size: 1.5em;
  display: flow;
  justify-content: space-evenly;
  font-family: 'Nunito Sans', sans-serif;
} */
li:hover {
  font-size: 1.8em;
  transition: 0.2s ease;
}
